@font-face {
    
    src: url('njnaruto.ttf');
    font-family: 'fp';
    font-weight: normal;
}

h1{
    text-align: center;
    font-family: 'fp';
}
#opcoes{
    text-align: center;
    padding-top: 30vh;
}
footer{
    position: absolute;
    right: 0%;
    bottom: 0%;
}

body{
    font-family: 'fp';
}

