
body{
    background-color: white;
}

a{
    text-decoration:none;
    color: black;
}

h1{
    text-align: center;
}


#opcoes{
    text-align: center;
    padding-top: 30vh;
}
footer{
    position: absolute;
    right: 0%;
    bottom: 0%;
}



.button{
    font-size: 10cw;
    display: inline;
    font-size: 2vh;
    border-color: darkblue;
    border-width: 0.20cm;
    border-style: solid;
    margin-bottom:  0.35cm;
    background-color: aquamarine;
    
}
#a {
    margin-right: 5vw;
}


.button:hover{
    background-color: rgba(127, 255, 212, 0.674);
}
.resposta#caixa{
    margin-right: 3vh;
}
#next{
    display: none;
}
