

h1{
    text-align: center;
    
}
#opcoes{
    text-align: center;
    padding-top: 30vh;
}
footer{
    position: absolute;
    right: 0%;
    bottom: 0%;
}

body{
    background-color: white;
}

.button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    display: inline;
    text-decoration: none;
    color: black;
    font-size: 3vh;
    border-color: rgb(227, 105, 17);
    border-width: 0.20cm;
    border-style: solid;
    margin-bottom:  0.35cm;
    background-color: rgb(227, 139, 79);

    
}
.button a{
    text-decoration: none;
    color: black;
    
}
#a {
    margin-right: 5vw;
}
.button:hover{
    background-color: rgb(209, 118, 56);
}
